/* Hamburgur Menu*/
.hamburgur{
    cursor:pointer;
    width:24px;
    height:24px;
    transition: all 0.25s;
    position:relative;
}

.hamburgur-top, .hamburgur-middle, .hamburgur-bottom{
    position: absolute;
    width:24px;
    height:2px;
    top:0;
    left:0;
    background: #fca83a;
    transform: rotate(0);
    transition: all 0.5s;

}

.hamburgur-middle{
    transform: translateY(7px);
}

.hamburgur-bottom{
    transform: translateY(14px);
}

.open{
    transform: rotate(90deg);
}

.open .hamburgur-top{
    transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburgur-middle{
    display:none;
}

.open .hamburgur-bottom{
    transform: rotate(-45deg) translateY(6px) translateX(-6px);
}